body{
    background-color:rgb(13, 13, 27);
    margin: 0;
    padding: 0;
}
span.insights{
    color: purple;
}
.sub-main_container{
    display: flex;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 5%;
    background-color: rgb(12, 12, 41);
}
.component1{
    /* border-style:solid; */
    width: 45%;
    /* border-radius: 2%; */
    color: white;
    /* background-color:navy */
}
.component2{
    /* border-style: solid; */
    width: 45%;
    /* border-radius: 2%; */
}
.flex{
    display: flex;
}
img{
    width: 100%;
    /* border-radius: 2%; */
}
.main_container{
    /* background-color: rgb(12, 12, 41); */
    
}
.companies{
   
    padding-right: 5%;
}